
<ion-header>
	<ion-navbar>
		<ion-title>Lembrar Senha</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding style="background:url(assets/img/bg1200.png) no-repeat center;background-size:cover;">

	<div  style="color: #fff; font-size: 40px; margin-top: 30px; margin-bottom: 25px;" align="center">CHAT - COM241<BR>PROFESSOR</div>

<div class="spacer" style="width:300px;height:5px;" id="login-spacer1"></div>

<div>
		<p style="color:#FFFFFF;">
				Digite seu email para receber o link de alteração de senha
		</p>
</div>
	<form (ngSubmit)="resetPassword()" [formGroup]="form">
		<ion-list inset>

			<ion-item [ngClass]="{ invalid: emailErrors.hasError('*', ['touched']) }">
				<ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>

			<div ngxErrors="email" #emailErrors="ngxErrors">
				<div [ngxError]="['email', 'required']" [when]="['touched']">Insira um email válido</div>
			</div>
		</ion-list>

		<div padding-horizontal>
			<div class="form-error">{{signupError}}</div>

			<button ion-button full [disabled]="!form.valid">Enviar</button>
		</div>
	</form>
</ion-content>
